{% extends "index.html" %}
{% block title %}{{ name }}{% endblock %}
{% block script%}
  <script>
    var values = {};
    $(document).ready(function(){
        $("#sub").click(function(){
            var $inputs = $('#finders :input');
            $inputs.each(function() {
                if($(this).val()) {
                    values[this.name] = $(this).val();
                }
            });
            var shallowEncoded = $.param( values, true );
            $.getJSON("/requests/get?" + shallowEncoded, function(result){
                $("#results tr").remove();
                $.each(result, function(i, field){
                    for (i = 0; i<field.length;i++) {
                        $("#results tbody").append('<tr><td>' + JSON.stringify(field[i]) + '</td></tr>');
                    }
                });
            });
        });
    });
  </script>
{% endblock %}
{% block content %}
<div class="row">
     <div class="panel-heading">Form</div>
    <form class="form-inline" name="finders" id="finders">
        <div class="table-responsive">
            <table class="table table-condensed">
                {% if name == 'router'%}
                    {% for i in form_r.var %}
                        {% if loop.index % 2 %}
                        <tr>
                        {% endif %}
                                <td><label for="{{ i }}">{{ i }}</label></td>
                                <td><input class="form-control" name="{{ i }}" id="{{ i }}"></td>
                        {% if not loop.index % 2 %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                        <tr>
                            <td>
                                <button type="button" class="btn btn-default">Add</button>
                                <button type="button" class="btn btn-default" id="sub">Submit</button>
                            </td>
                        </tr>
                {% endif %}
            </table>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">All requests from route</div>
            <table class="table" id="results">
                <thead>
                <tr>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}