{% extends "index.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}
<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">Statistics</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Ip</th>
                {% if names %}
                <th>Name</th>
                {% endif %}
                {% if users %}
                <th>User</th>
                {% endif %}
                <th>Incoming traffic</th>
                <th>Outbound traffic</th>
            </tr>
            </thead>
            <tbody>
        {% for i in data['stat']|sort(attribute='level_num', reverse=True) %}
        {% if i.get('level') != 'zero' %}
            <tr {% if i.get('level') %} class="{{ i['level'] }}"{% endif %}>
                <td nowrap>{{ i['ip'] }}</td>
                {% if names %}
                <td nowrap>{% if i['name'] %}{{ i['name'] }}{% endif %}</td>
                {% endif %}
                {% if users %}
                <td nowrap>{% if i['user'] %}{{ i['user'] }}{% endif %}</td>
                {% endif %}
                <td nowrap>{{ i['data']['in'] }}</td>
                <td nowrap>{{ i['data']['out'] }}</td>
            </tr>
        {% endif %}
        {% endfor %}
        </table>
    </div>
</div>
</div>
{% if debug %}
<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">Statistics</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Time</th>
                <th>Inter</th>
                <th>Incomplete</th>
                <th>Nozero</th>
                <th>Full</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ data.get('time') }}</td>
                <td>{{ data.get('inter') }}</td>
                <td>{{ data.get('incomplete') }}</td>
                <td>{{ data.get('nozero') }}</td>
                <td>{{ data.get('full') }}</td>
                <td>{{ debug }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
{% endif %}

{% endblock %}