% extends "index.html" %}
{% block title %}Requests{% endblock %}
{% block content %}
<div class="row">
<div class="col-xs-12 col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">Computers</div>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>System</th>
        <th>Hard</th>
    </tr>
    </thead>
    <tbody>
{% for i in data %}
    <tr>
        <td>{{ i['computername'] }}</td>
        <td>{{ i['system'] }}</td>
        <td>{{ i['hard'] }}</td>
    </tr>
{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}