{% extends "index.html" %}
{% block title %}DHCP{% endblock %}
{% block content %}
<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">DHCP</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Mac</th>
                <th>Ip</th>
                <th>Rezervation</th>
                <th>End Time</th>
            </tr>
            </thead>
            <tbody>
        {% for i in data %}
            <tr>
                <td>{{ i['name'] }}</td>
                <td nowrap>{{ i['mac'] }}</td>
                <td nowrap>{{ i['ip'] }}</td>
                <td nowrap>{% if i['rezervation'] %}{{ i['rezervation'] }}{% endif %}</td>
                <td nowrap>{% if i['endtime'] %}{{ i['endtime'] }}{% endif %}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
</div>
{% endblock %}