{% extends "index.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}
<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">Statistics</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Ip</th>
                {% if names %}
                <th>Name</th>
                {% endif %}
                {% if users %}
                <th>User</th>>
                {% endif %}
                <th>Incoming traffic</th>
                <th>Outbound traffic</th>
            </tr>
            </thead>
            <tbody>
        {% for i in data['stat'] %}
            <tr>
                <td nowrap>{{ i['ip'] }}</td>
                {% if names %}
                <td nowrap>{% if i['name'] %}{{ i['name'] }}{% endif %}</td>
                {% endif %}
                {% if users %}
                <td nowrap>{% if i['user'] %}{{ i['user'] }}{% endif %}</td>
                {% endif %}
                <td nowrap>{{ i['data']['in'] }}</td>
                <td nowrap>{{ i['data']['out'] }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
</div>
{% endblock %}