{% extends "index.html" %}
{% block title %}Requests{% endblock %}
{% block content %}
<div class="row">
<div class="col-xs-12 col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">Users</div>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Time</th>
        <th>All logon's</th>
    </tr>
    </thead>
    <tbody>
{% for i in data %}
    <tr>
        <td>{{ i['username'] }}</td>
        <td>{{ i['time'] }}</td>
        <td>{{ i['copmslist'] }}</td>
    </tr>
{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}